* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(216, 241, 233);
    background-image: url("../images/paint.jpg");
    background-image: cover;
    background-position: center;
}

header {
    height: 300px;
    border-width: 10px;
    border-color:rgb(59, 59, 245);
    border-style: double;
    padding: 20px;
    margin-bottom: 30px;
    color: rgb(2, 2, 172);
    background-image: url("../images/title.jpg");
    background-image: cover;
    background-position: center;
    font-family:'Arial sans-serif', 'Verdana sans-serif', Tahoma, sans-serif;
}

header h1 {
    display: inline-block;
    margin-left: 30px;
    font-size: 50px;
}

header h2 {
    display: block;
    margin-left: 30px;
    margin-top: 100px;
    font-size: 30px;
}

header ul {
    display: justify;
    margin-right: 20px;
    float: right;
    font-family: 'Arial sans-serif', 'Verdana sans-serif', Tahoma, sans-serif;
    font-size: 25px;
    list-style-type: none;
}

header li {
    display: inline-block;
    margin-left: 25px;
}

header li a {
    text-decoration: none;
    color: inherit; 
}

header li a:hover {
    opacity: 0.8;
}

.info {
    width: 100%;
    display: inline-block;
}

.info h2 {
    display: inline-block;
    margin-left: none;
    margin-right: none;
}

.info h2:hover {
    opacity: 0.8;
}

.info section {
    background-image: url("../images/section.jpg");
    background-position: center;
    border-style: double;
    border-width: 10px;
    border-color: rgb(216, 34, 216);
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    font-family: 'Arial sans-serif', 'Verdana sans-serif', Tahoma, sans-serif;
    background-color: rgb(238, 196, 180);
    color: rgb(22, 22, 155);
}

.info p {
    margin-top: 30px;
}

.links {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
}

.links a {
    border-style: double;
    border-color: rgb(216, 34, 216);
    border-width: 10px;
    text-decoration: none;
    display: inline-block;
    margin-left: 300px;
    margin-right: 300px;
}

.Label div {
    max-width: 100%;
    position: relative;
    background-color: rgb(108, 108, 219);
    color:rgb(216, 17, 199);
    text-align: center;
    font-family: 'Arial sans-serif', 'Verdana sans-serif', Tahoma, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.subLabel div {
    max-width: 100%;
    position: relative;
    background-color: rgb(108, 108, 219);
    color:rgb(216, 17, 199);
    text-align: center;
    font-family: 'Arial sans-serif', 'Verdana sans-serif', Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.links img {
    width: 500px;
    height: 300px;
}

.links a:hover {
    opacity: .8;
}

.links ul li:hover {
    opacity: .8;
}

.links ul li {
    width: 320px;
    height: 247px;
    margin-top: 30px;
    margin-left: 25px;
    list-style-type: none;
    float: left;
    border-style: double;
    border-color: rgb(216, 34, 216);
    border-width: 10px;
}

.links ul li img {
    width: 300px;
    height: 200px;
}

@media only screen and (max-width: 600px) {
    .relocate {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        gap: 10px;
    }
    .enlarge {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .links {
        display:flex;
        flex-direction: column;
        
    }
    .links a {
        margin-left: 0px;
        width: 300px;
        height: 200px;
    }
    .links a img {
        margin-left: 0px;
        width: 280px;
        height: 153px;
    }
    .Label div {
        font-size: 20px;
    }
    .links ul li {
        height: 200px;
        width: 250px;
        margin-left: 25px;
    }
    .links ul li img {
        height: 153px;
        width: 230px;
    }
}